h1 {
    background-color:red;
    font-family: arial;
    text-align: center;
    border-bottom: 10px solid #000;
    margin: 0px auto;
    padding: 20px;
    width: 640px;
}
h1:hover {
   border-bottom: 20px solid #000;
   cursor: pointer;
   
}