doctype
html(lang='es')
  head
    meta(charset="UTF-8")
    tittle documento HTML 5
  body
    h1 documento HTML5
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ratione maiores in omnis, molestiae quod eveniet dolorum dolorem impedit quia cupiditate porro laudantium aspernatur id adipisci, doloribus! Omnis, laudantium labore.
