html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Documento HTML 5
    body
        h1 Documento HTML 5
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, nam!
