html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        nav
            ul
                //atributo en linea
                li
                    a(href="https://www.google.es/" target="blank" class="link") Google
                li
                    a(href="https://www.youtube.com/" target="blank" class="link") Youtube
                //atributos multilinea
                li
                    a(href="https://www.gmail.com/"
                    target="blank"
                    class="link") Gmail        