doctype
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
body
  nav
    ul
      //atributos en linea
      li
        a(href='http://maps.google.com',target="_blank", class="link") Google Maps
      li 
        a(href='http://translate.google.com' target="_blank"
        class="link") Traductor
      li
        a(href="http://images-google.com"
          target="_blank"
          class="link") Google Images
