<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title comentarios
  body
    // esto es un comentatio visible en html
    h1 comentario
    //- este comentario solo es de pug y no es visible en html
    
    //- esto es un comentario de multiples lineas
        de codigo y no es visible en html
      
    // 
      esto es un comentario de de multiples lineas
      de codigo y si es visible en html
  
