<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title condicionales
  body
    h1 condicionales
    - var edad = 8
    if edad >= 18 
      img(src="imgs/success.png")
      p usted puede votar
    else 
      img(src="imgs/fail.png")
      p usted no puede votar
    
