doctype strict
// doctype transitional
// doctype strict
// doctype xml
html(lang="en")
  head
    meta(charset="UTF-8")
    title Tipos Documentos
  body
    h1 Tipos de Documentos
    hr
    img(src="img/success.png")
    br
  
