<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Incluir Texto
    style
      include plaintext/style.css
  body
    h1 Incluir texto plano
    script 
      include plaintext/app.js
    
