extends includes/layout.pug

block title
    title Herencia

block content
    h1 herencia
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident consequuntur necessitatibus voluptatibus repudiandae temporibus, praesentium iure accusamus amet enim sequi suscipit perspiciatis dicta. Voluptatibus rerum sed optio delectus animi reprehenderit.
