doctype
html(lang="en")
    head
       meta(charset="UFT-8")
       title Iteraciones
       style.
           li {
               list-style: none;
               padding:20px
           } 


    body
        ul 
            each val, index in  ['yellow','blue','red']
                li(style={background: val})= index + ': '+ val